! Adjusting the font
xterm*faceName: Monospace
xterm*faceSize: 13
 
! Changing foreground/background color
! those are ignored by cssh
xterm*background: #FFFFFF
xterm*foreground: #2B1520
 
! Adding a scroll-bar on the right side
xterm*scrollBar: true
xterm*rightScrollBar:true
 
! prevent jumping back to the last line with new output
xterm*scrollTtyOutput: false
 
! add keyboard shortcuts to jump to beginning/end
xterm*vt100.translations: #override \n\
 Shift <Key>Home: scroll-forw(10000000000) \n\
 Shift <Key>End: scroll-back(10000000000)
